.firstSkrin {
    background: url(../../shop/img/promotion.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 654px;
    background-position: center;
    margin-bottom: 320px;
    margin-top: 20px;
    .container {
        position: relative;
        .caption {
            position: absolute;
            @extend %caption;
            max-width: 560px;
            top: 250px;
        }
    }

}

.sale {
    display: flex;
    position: absolute;
    bottom: -915px;
    flex-wrap: wrap;
}

.saleItem {
    background-image: url(../../shop/img/sad.png);
    background-size: 90%;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    min-height: 354px;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    flex: 1 1 200px;
    transition: .3s;
    &:hover {
        background-size: 70%;
        transition: .3s;
    }
    .nameItemPrice {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        .nameItem {
            max-width: 160px;
                @extend %sub-caption;         
        }
        .price {
                @extend %sub-caption;    
                color: $blue;      
        }
    }
    .salePriseOff {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: flex-end;
        flex-wrap: wrap;
        .salePrice {        
            @extend %sub-caption;  
            margin-right: 10px;     
            color: $gray;
            text-decoration: line-through;   
        }
        .offPrice {
            @extend %sub-caption;
            color: $red;
        }
    }
}

